{% extends "base.html" %}

{% block title %}
Matilha Cheer
{% endblock %}

{% block styles %}
<link href="/assets/css/atletas.css" rel="stylesheet">
{% endblock %}
    
{% block body %}
<main class="text-center">
    <div class="row">

        <div class="row justify-content-center">
            <h2>Se quiser pesquisar um nome específico. 😉 </h2>
        </div>
        
        <div class="row">
            <div class="container-faltas">
                <form method="post" action="/diretoria/pesquisa-falta" class="form-faltas" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nome" class="visually-hidden">Nome</label>
                        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" required>
                    </div> 
                    <br>
                    <button class="w-100 btn btn-outline-warning" type="submit" name='faltar'>Pesquisar</button>
                </form>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="container-tabela">
                <h1 class="h3 mb-3 fw-bold">Faltas cadastradas</h1>

                {% if faltas is not empty %}
                    <table class="table table-dark table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Data</th>
                                <th>Data inserção</th>
                                <th>Justificativa</th>
                                <th>Arquivo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            {% for falta in faltas %}
                                <tr>
                                {% for column in falta %}
                                    {% if loop.index != 1%}
                                        <td>
                                        {{ column }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a class='btn btn-outline-warning btn-sm' href='/diretoria/update-falta/{{falta.id}}'>Update</a>
                                    <a class='btn btn-outline-warning btn-sm' href='/diretoria/delete-falta/{{falta.id}}' onclick="return confirm('Are you sure?');">Delete</a>
                                </td>
                                </tr>
                            {% endfor %}

                        </tbody>
        
                    </table>
                    
                {% else %}
                    <br><div class='alert alert-warning'> Nenhuma falta cadastrada! 😍</div>
                {% endif %}

            </div>
        </div>

</main>

{% endblock %}