body {
    background-image: url("img/pata_fundo2.png");
    background-size: cover;
    background-repeat: repeat-y;
}


.container-cadastro {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 16px;
    margin-top: 8px;
}

.form-control:focus {
    z-index: 2;
}

.col-md-6{
    float: none;
    margin: auto;
}

.form-cadastro input[type="checkbox"] {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-tabela {
    margin-top: 50px;
    margin-bottom: 40px;
    overflow-x: auto;
}