{% extends "base.html" %}

{% block title %}
Matilha Cheer
{% endblock %}

{% block styles %}
  <link href="../../public/assets/css/home.css" rel="stylesheet">
{% endblock %}
    
{% block body %}
<main class="text-center">
    <div class="row">
      <h1>Matilha Cheer.</h1>
      <p class="lead">Olá, cheerleader! Nós somos o time da UFSC Campus Araranguá. Por aqui você pode conhecer mais sobre o esporte e sobre nosso time. Além disso, se você for nosso atleta, acessa a página de login para poder ver algumas funcionalidades exclusivas. 🌟🤸‍♂️</p>
    </div>
</main>

<!-- botão pra página sobre o esporte -->
<footer class="text-center">
   <p><a href="#" class="cheer">Sobre o esporte</a></p>
</footer>
{% endblock %}